@import 'reset';

:root {
  // Shades
  --light: #f8f8f2;
  --light-2: #e9e5e5;
  --dark: #292836;
  --dark-2: #44475a;

  // Primary
  --primary: #5c7cfa;

  // Colors
  --red: #f03e3e;
  --orange: #ff922b;
  --yellow: #ffd43b;
  --green: #51cf66;
  --teal: #20c997;
  --blue: #339af0;
  --indigo: #5c7cfa;
  --purple: #7950f2;
  --pink: #f06595;
  --grey: #adb5bd;
  --light-grey: #ced4da;

  // Font
  --font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--light);

  * {
    font-family: var(--font-family);
    font-size: 1.6rem;
  }
}

button {
  cursor: pointer;
  width: fit-content;
  position: relative;
  display: flex;
  gap: 0.8rem;
  margin-top: 0;
}

button.btn {
  background-color: var(--primary);
  color: var(--light);
  height: 4rem;
  max-height: 4rem;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  border: 0.2rem solid var(--dark);
  border-bottom: 0.4rem solid var(--dark);
  transition: all 0.1s;

  &:hover {
    filter: brightness(1.05);
  }

  &:active,
  &.active {
    filter: brightness(0.8);
    border-bottom: 0.2rem solid var(--dark);
    top: 0.2rem;
    transition: none;
  }
}

button.icon {
  background-color: transparent;
  color: var(--light);
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.full-width {
  width: 100%;
  justify-content: center;
}

pre {
  border-radius: 5px;
  background-color: var(--dark);
  color: var(--light);
  padding: 1.2rem;
  font-family: monospace;
  width: 100%;
  overflow-x: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.wrap {
  flex-wrap: wrap;
}

.muted {
  opacity: 0.4;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.primary {
  color: var(--primary);
  font-weight: bold;
}